.block_stages {
	margin-top: 200px;

	@include tablet {
		margin-top: 120px;
	}

	.wrapper {
		.stages_title {
			display: flex;
			flex-direction: column;
			text-transform: uppercase;

			.stages_title-span {
				display: flex;
				flex-direction: row;
				align-items: center;
				max-width: 550px;
				width: 100%;
				font-size: 20px;
				column-gap: 10px;

				@include mobile-s {
					flex-direction: column;
					align-items: start;
					gap: 12px;
					max-width: 400px;
				}
				.span_title {
					text-transform: none;
				}
			}
		}

		.stages_cards-wrapper {
			display: flex;
			flex-direction: column;
			width: 100%;
			height: auto;
			margin-top: 54px;
			gap: 20px;

			@include mobile {
				display: none;
			}

			.stages_cards-top {
				width: 100%;
				height: auto;
				display: flex;
				justify-content: space-between;
				flex-direction: row;
				gap: 20px;

				.card-top-left,
				.card-top-top {
					display: flex;
					flex-direction: column;
					position: relative;
					width: 100%;
					height: auto;
					row-gap: 20px;

					.stages_card-top-inner{
						position: relative;
						display: flex;
						flex-direction: row;
						align-items: start;
						justify-content: left;
						width: 100%;
						min-height: 109px;
						height: auto;
						padding: 20px;
						gap: 16px;

						@include desktop {
							min-height: 150px;
						}
						@include tablet {
							min-height: 170px;
						}

						.number {
							display: flex;
							align-items: center;
							width: 36px;
							height: 36px;
							background-color: var(--white);
							text-align: center;
							border-radius: 60px;
							p {
								width: 100%;
								height: auto;
							}
						}
						p{
							width: 90%;
							height: auto;
						}
					}

					.stages_card-top-inner::before {
						content: "";
						background: url(./../images/stages/sub_background.png) top/cover no-repeat;
						position: absolute;
						width: 100%;
						height: 100%;
						top: 0;
						left: 0;
						z-index: -2;
					}
					.stages_card-top-inner::after {
						content: "";
						background: url(./../images/stages/background.png) top/cover no-repeat;
						position: absolute;
						opacity: 0.9;
						width: 100%;
						height: 100%;
						top: 0;
						left: 0;
						z-index: -1;
					}	
				}

				.card-top-right-inner {
					position: relative;
					display: flex;
					flex-direction: row;
					position: relative;
					width: 100%;
					height: auto;
					padding: 20px;
					gap: 16px;

					.number {
						display: flex;
						align-items: center;
						width: 36px;
						height: 36px;
						background-color: var(--white);
						text-align: center;
						border-radius: 60px;
						p {
							width: 100%;
							height: auto;
						}
					}
					p{
						width: calc(100% - (40px + 36px));
						height: auto;
					}
				}
				.card-top-right-inner::before {
					content: "";
					background: url(./../images/stages/sub_background.png) top/cover no-repeat;
					position: absolute;
					width: 100%;
					height: 100%;
					top: 0;
					left: 0;
					z-index: -2;
				}
				.card-top-right-inner::after {
					content: "";
					background: url(./../images/stages/background.png) top/cover no-repeat;
					position: absolute;
					opacity: 0.9;
					width: 100%;
					height: 100%;
					top: 0;
					left: 0;
					z-index: -1;
				}	
// card//-------------------------------------------------					
			}
			.stages_cards-bottom {
				position: relative;
				width: 100%;
				display: flex;
				flex-direction: row;
				gap: 23px;

				.card-bottom-left-inner,
				.card-bottom-right-inner {
					position: relative;
					display: flex;
					flex-direction: row;
					padding: 20px;
					gap: 16px;
					
					.number {
						display: flex;
						align-items: center;
						width: 36px;
						height: 36px;
						background-color: var(--white);
						text-align: center;
						border-radius: 60px;
						p {
							width: 100%;
							height: auto;
						}
					}
					p{
						width: calc(100% - (40px + 36px));
						height: auto;
					}
					.card-text_image {
						width: 50%;
					}
				}

				.card-bottom-left-inner{
					width: calc((100%/3) - 17px);

					@include tablet {
						width: calc((100%/2.73) - 17px);
					}
				}
	
				.card-bottom-right-inner {
					width: calc(100% - (((100%/3) - 17px)));
				}


				.card-bottom-left-inner::before,
				.card-bottom-right-inner::before {
					content: " ";
					background: url(./../images/stages/sub_background.png) top/cover no-repeat;
					position: absolute;
					width: 100%;
					height: 100%;
					top: 0;
					left: 0;
					z-index: -2;
				}
				.card-bottom-left-inner::before,
				.card-bottom-right-inner::after {
					content: " ";
					background: url(./../images/stages/background.png) top/cover no-repeat;
					position: absolute;
					opacity: 0.9;
					width: 100%;
					height: 100%;
					top: 0;
					left: 0;
					z-index: -1;
				}
			}
		}

		.slider-container {
			display: none;
			position: relative;
			width: 100%;
			max-width: 600px;
			margin: auto;
			text-align: center;
			margin-top: 148px;

			@include mobile {
				display: block;
			}

			.slider {
				position: relative;
				overflow: hidden;
				min-height: 335px;

				.slides {
					display: flex;
					transition: transform 0.5s ease-in-out;

					.slide {
						min-width: 100%;
						min-height: 300px;
						padding: 40px;
						display: none;

						.card-slide {
							display: flex;
							flex-direction: column;
							row-gap: 17px;
							.number {
								display: flex;
								align-items: center;
								width: 43px;
								height: 36px;
								background-color: var(--white);
								text-align: center;
								border-radius: 60px;
								p {
									width: 100%;
									height: auto;
								}
							}
						}
						.stages_card {
							display: flex;
							align-items: baseline;
							justify-content: space-between;
							margin-top: 20px;
							gap: 12px;

							.card-text {
								width: 100%;
								height: 100%;
							}
						}
					}				
					.slide.active {
						display: block;
					}

					.slide::before {
						content: "";
						background: url(./../images/stages/sub_background.png) top/cover no-repeat;
						position: absolute;
						width: 100%;
						height: 100%;
						top: 0;
						left: 0;
						z-index: -2;
					}
					.slide::after {
						content: "";
						background: url(./../images/stages/background.png) top/cover no-repeat;
						position: absolute;
						opacity: 0.9;
						width: 100%;
						height: 100%;
						top: 0;
						left: 0;
						z-index: -1;
					}
				}
			}
			.navigation {
				display: flex;
				align-items: center;
				justify-content: center;
				transform: translateY(-50%);
				margin-top: 28px;
				gap: 16px;

				a {
					position: relative;
					width: 36px;
					height: 36px;
					border-radius: 66px;
					background-color: var(--black);
					display: flex;
					align-items: center;
					cursor: pointer;
					color: var(--white);

					.prev-image,
					.next-image {
						position: absolute;
						width: 12px;
						height: 20px;
						display: flex;
					}
					.prev-image {
						left: 9px;
						top: 8px;
					}
					.next-image {
						left: 13px;
						top: 8px;
					}
				}
				a:hover {
					background-color: var(--orange);
					transition: .4s;
				}
				a:disabled {
					background-color: var(--grey);
					transition: .4s;
				}

				.dots {
					display: flex;

					.dot {
						cursor: pointer;
						height: 10px;
						width: 10px;
						margin: 0 2px;
						background-color: #bbb;
						border-radius: 50%;
						display: inline-block;
						transition: background-color 0.6s ease;
					}
					
					.dot.active {
						background-color: #717171;
					}
				}
			}
		}
		.stages_airplane {
			position: absolute;
			display: inline-block;
			vertical-align: top;
			top: 59%;
			right: -5%;

			@include desktop {
				max-width: 335px;
			}

			@include tablet {
        top: 54%;
        right: -6%;
			}

			@include mobile {
        top: 16%;
        right: 5%;
			}

			@include mobile-s {
        top: 220px;
        right: 2%;
			}
		}
	}
}

