.track-container {
	overflow: hidden;
	width: 100%; /* Adjust as needed */
	height: 100%;
	border: 1px solid #ccc;
	position: relative;
	background-color: var(--red);
}

.track {
	
	display: flex;
	animation: scroll 20s linear infinite;
}

.track-text {
	flex: 0 0 auto;
	white-space: nowrap;
	padding: 10px;
	text-transform: uppercase;
	font-size: 22px;

	@include tablet {
		font-size: 16px;
	}
}

@keyframes scroll {
	0% {
			transform: translateX(0);
	}
	100% {
			transform: translateX(calc(-100% / 2)); /* Scroll by half the width of the duplicated content */
	}
}


